@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-bg-color: #222222;
  --primary-color: #000000;
  --secondary-color: #f3f3f3;
  --decoration-color: #d01418;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--primary-color);
}

header {
  height: 6.25rem;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2.18rem;
  padding-left: 2.18rem;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  gap: 0.75rem;
  margin-right: 2.62rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1rem;
}

nav svg {
  cursor: pointer;
}

.slider {
  height: 32rem;
  background: url('../img/slideimg01.png') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: var(--secondary-color);
}

h2 span {
  color: var(--decoration-color);
}

button {
  width: 13.75rem;
  height: 3.81rem;
  background: var(--decoration-color);
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.56rem;
  margin-top: 1.75rem;
  cursor: pointer;
}

main {
  margin-bottom: 5.31rem;
}

.featuredProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2.5rem;
  margin-bottom: 5rem;
}

section h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.87rem;
  text-align: center;
  margin-bottom: 1.68rem;
}

.featuredProducts .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.container .card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.card img {
  padding: 1.87rem 4.25rem;
}

.border {
  border-bottom: 0.2px solid var(--main-bg-color);
  margin-bottom: 1.31rem;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.installment {
  font-style: normal;
  font-weight: 400;
  font-size: 0.81rem;
  margin-bottom: 0.25rem;
}

.shipping {
  font-style: normal;
  font-weight: 400;
  font-size: 0.62rem;
  color: #619d00;
}

.starProducts {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.starProducts .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gamingChairs {
  background: url('../img/banner_gaming_chairs.png') no-repeat;
  background-size: contain;
  height: 8.43rem;
  width: 22.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.56rem;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.computers {
  background: url('../img/banner_computers.png') no-repeat;
  background-size: contain;
  height: 8.43rem;
  width: 22.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.56rem;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

footer {
  height: 15.06rem;
  background: var(--main-bg-color);
}

.info {
  height: 13.5rem;
  display: flex;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 4.68rem;
}

.socialMediass {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialMediass h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.56rem;
  color: var(--secondary-color);
  margin-bottom: 2.5rem;
}

.bottom {
  height: 1.56rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.62rem;
}

.socialIconss {
  display: flex;
  gap: 2.5rem;
  cursor: pointer;
}

@media (max-width: 820px) {
  header nav {
    display: none;
  }

  h2 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .starProducts .container {
    gap: 40px;
  }

  header .logo {
    padding-left: 0;
  }
}

@media (max-width: 525px) {
  .info {
    flex-direction: column;
  }
  footer .logo {
    padding-left: 0;
    justify-content: center;
  }
  .slider {
    background-position: left;
  }
}
